UIElementsSchema/UnityEngine.Experimental.UIElements.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema
    xmlns:engine="UnityEngine.Experimental.UIElements" xmlns:xs="http://www.w3.org/2001/XMLSchema"
    elementFormDefault="qualified" targetNamespace="UnityEngine.Experimental.UIElements"
    xmlns="UnityEditor.PackageManager.UI">
  <xs:complexType name="UXMLType">
    <xs:complexContent mixed="false">
      <xs:restriction base="xs:anyType">
        <xs:sequence maxOccurs="unbounded" minOccurs="0">
          <xs:element ref="engine:VisualElement"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UXML" type="engine:UXMLType"/>
  <xs:simpleType name="VisualElement_pickingMode_Type">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Position"/>
      <xs:enumeration value="Ignore"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="VisualElementType">
    <xs:complexContent mixed="false">
      <xs:restriction base="xs:anyType">
        <xs:sequence maxOccurs="unbounded" minOccurs="0">
          <xs:element ref="engine:VisualElement"/>
        </xs:sequence>
        <xs:attribute name="name" default="" type="xs:string" use="optional"/>
        <xs:attribute name="pickingMode" default="Position" type="engine:VisualElement_pickingMode_Type"
                      use="optional"/>
        <xs:attribute name="focusIndex" default="-1" type="xs:int" use="optional"/>
        <xs:anyAttribute processContents="lax"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="VisualElement" type="engine:VisualElementType"/>
  <xs:complexType name="IMGUIContainerType">
    <xs:complexContent mixed="false">
      <xs:restriction base="engine:VisualElementType">
        <xs:attribute name="name" default="" type="xs:string" use="optional"/>
        <xs:attribute name="pickingMode" default="Position" type="engine:VisualElement_pickingMode_Type"
                      use="optional"/>
        <xs:attribute name="focusIndex" default="0" type="xs:int" use="optional"/>
        <xs:anyAttribute processContents="lax"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="IMGUIContainer" substitutionGroup="engine:VisualElement"
              type="engine:IMGUIContainerType"/>
  <xs:complexType name="ImageType">
    <xs:complexContent mixed="false">
      <xs:restriction base="engine:VisualElementType">
        <xs:attribute name="name" default="" type="xs:string" use="optional"/>
        <xs:attribute name="pickingMode" default="Position" type="engine:VisualElement_pickingMode_Type"
                      use="optional"/>
        <xs:attribute name="focusIndex" default="-1" type="xs:int" use="optional"/>
        <xs:anyAttribute processContents="lax"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Image" substitutionGroup="engine:VisualElement" type="engine:ImageType"/>
  <xs:complexType name="LabelType">
    <xs:complexContent mixed="false">
      <xs:restriction base="engine:VisualElementType">
        <xs:attribute name="name" default="" type="xs:string" use="optional"/>
        <xs:attribute name="pickingMode" default="Position" type="engine:VisualElement_pickingMode_Type"
                      use="optional"/>
        <xs:attribute name="focusIndex" default="-1" type="xs:int" use="optional"/>
        <xs:attribute name="text" default="" type="xs:string" use="optional"/>
        <xs:anyAttribute processContents="lax"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Label" substitutionGroup="engine:VisualElement" type="engine:LabelType"/>
  <xs:complexType name="RepeatButtonType">
    <xs:complexContent mixed="false">
      <xs:restriction base="engine:VisualElementType">
        <xs:attribute name="name" default="" type="xs:string" use="optional"/>
        <xs:attribute name="pickingMode" default="Position" type="engine:VisualElement_pickingMode_Type"
                      use="optional"/>
        <xs:attribute name="focusIndex" default="-1" type="xs:int" use="optional"/>
        <xs:attribute name="text" default="" type="xs:string" use="optional"/>
        <xs:attribute name="delay" default="0" type="xs:long" use="optional"/>
        <xs:attribute name="interval" default="0" type="xs:long" use="optional"/>
        <xs:anyAttribute processContents="lax"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RepeatButton" substitutionGroup="engine:VisualElement" type="engine:RepeatButtonType"/>
  <xs:complexType name="ScrollerButtonType">
    <xs:complexContent mixed="false">
      <xs:restriction base="engine:VisualElementType">
        <xs:attribute name="name" default="" type="xs:string" use="optional"/>
        <xs:attribute name="pickingMode" default="Position" type="engine:VisualElement_pickingMode_Type"
                      use="optional"/>
        <xs:attribute name="focusIndex" default="-1" type="xs:int" use="optional"/>
        <xs:attribute name="delay" default="0" type="xs:long" use="optional"/>
        <xs:attribute name="interval" default="0" type="xs:long" use="optional"/>
        <xs:anyAttribute processContents="lax"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ScrollerButton" substitutionGroup="engine:VisualElement"
              type="engine:ScrollerButtonType"/>
  <xs:complexType name="ScrollViewType">
    <xs:complexContent mixed="false">
      <xs:restriction base="engine:VisualElementType">
        <xs:sequence maxOccurs="unbounded" minOccurs="0">
          <xs:element ref="engine:VisualElement"/>
        </xs:sequence>
        <xs:attribute name="name" default="" type="xs:string" use="optional"/>
        <xs:attribute name="pickingMode" default="Position" type="engine:VisualElement_pickingMode_Type"
                      use="optional"/>
        <xs:attribute name="focusIndex" default="-1" type="xs:int" use="optional"/>
        <xs:attribute name="showHorizontalScroller" default="false" type="xs:boolean" use="optional"/>
        <xs:attribute name="showVerticalScroller" default="false" type="xs:boolean" use="optional"/>
        <xs:attribute name="horizontalLowValue" default="0" type="xs:float" use="optional"/>
        <xs:attribute name="horizontalHighValue" default="0" type="xs:float" use="optional"/>
        <xs:attribute name="horizontalPageSize" default="10" type="xs:float" use="optional"/>
        <xs:attribute name="horizontalValue" default="0" type="xs:float" use="optional"/>
        <xs:attribute name="verticalLowValue" default="0" type="xs:float" use="optional"/>
        <xs:attribute name="verticalHighValue" default="0" type="xs:float" use="optional"/>
        <xs:attribute name="verticalPageSize" default="10" type="xs:float" use="optional"/>
        <xs:attribute name="verticalValue" default="0" type="xs:float" use="optional"/>
        <xs:anyAttribute processContents="lax"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ScrollView" substitutionGroup="engine:VisualElement" type="engine:ScrollViewType"/>
  <xs:simpleType name="Scroller_direction_Type">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Horizontal"/>
      <xs:enumeration value="Vertical"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ScrollerType">
    <xs:complexContent mixed="false">
      <xs:restriction base="engine:VisualElementType">
        <xs:attribute name="name" default="" type="xs:string" use="optional"/>
        <xs:attribute name="pickingMode" default="Position" type="engine:VisualElement_pickingMode_Type"
                      use="optional"/>
        <xs:attribute name="focusIndex" default="-1" type="xs:int" use="optional"/>
        <xs:attribute name="lowValue" default="0" type="xs:float" use="optional"/>
        <xs:attribute name="highValue" default="0" type="xs:float" use="optional"/>
        <xs:attribute name="direction" default="Vertical" type="engine:Scroller_direction_Type"
                      use="optional"/>
        <xs:attribute name="value" default="0" type="xs:float" use="optional"/>
        <xs:anyAttribute processContents="lax"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Scroller" substitutionGroup="engine:VisualElement" type="engine:ScrollerType"/>
  <xs:simpleType name="Slider_direction_Type">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Horizontal"/>
      <xs:enumeration value="Vertical"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="SliderType">
    <xs:complexContent mixed="false">
      <xs:restriction base="engine:VisualElementType">
        <xs:attribute name="name" default="" type="xs:string" use="optional"/>
        <xs:attribute name="pickingMode" default="Position" type="engine:VisualElement_pickingMode_Type"
                      use="optional"/>
        <xs:attribute name="focusIndex" default="-1" type="xs:int" use="optional"/>
        <xs:attribute name="lowValue" default="0" type="xs:float" use="optional"/>
        <xs:attribute name="highValue" default="10" type="xs:float" use="optional"/>
        <xs:attribute name="pageSize" default="10" type="xs:float" use="optional"/>
        <xs:attribute name="direction" default="Vertical" type="engine:Slider_direction_Type" use="optional"/>
        <xs:attribute name="value" default="0" type="xs:float" use="optional"/>
        <xs:anyAttribute processContents="lax"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Slider" substitutionGroup="engine:VisualElement" type="engine:SliderType"/>
  <xs:complexType name="TextFieldType">
    <xs:complexContent mixed="false">
      <xs:restriction base="engine:VisualElementType">
        <xs:attribute name="name" default="" type="xs:string" use="optional"/>
        <xs:attribute name="pickingMode" default="Position" type="engine:VisualElement_pickingMode_Type"
                      use="optional"/>
        <xs:attribute name="focusIndex" default="0" type="xs:int" use="optional"/>
        <xs:attribute name="text" default="" type="xs:string" use="optional"/>
        <xs:attribute name="maxLength" default="-1" type="xs:int" use="optional"/>
        <xs:attribute name="password" default="false" type="xs:boolean" use="optional"/>
        <xs:attribute name="maskCharacter" default="*" type="xs:string" use="optional"/>
        <xs:attribute name="multiline" default="false" type="xs:boolean" use="optional"/>
        <xs:anyAttribute processContents="lax"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TextField" substitutionGroup="engine:VisualElement" type="engine:TextFieldType"/>
  <xs:complexType name="ToggleType">
    <xs:complexContent mixed="false">
      <xs:restriction base="engine:VisualElementType">
        <xs:attribute name="name" default="" type="xs:string" use="optional"/>
        <xs:attribute name="pickingMode" default="Position" type="engine:VisualElement_pickingMode_Type"
                      use="optional"/>
        <xs:attribute name="focusIndex" default="0" type="xs:int" use="optional"/>
        <xs:attribute name="label" default="" type="xs:string" use="optional"/>
        <xs:attribute name="value" default="false" type="xs:boolean" use="optional"/>
        <xs:anyAttribute processContents="lax"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Toggle" substitutionGroup="engine:VisualElement" type="engine:ToggleType"/>
  <xs:complexType name="VisualContainerType">
    <xs:complexContent mixed="false">
      <xs:restriction base="engine:VisualElementType">
        <xs:sequence maxOccurs="unbounded" minOccurs="0">
          <xs:element ref="engine:VisualElement"/>
        </xs:sequence>
        <xs:attribute name="name" default="" type="xs:string" use="optional"/>
        <xs:attribute name="pickingMode" default="Position" type="engine:VisualElement_pickingMode_Type"
                      use="optional"/>
        <xs:attribute name="focusIndex" default="-1" type="xs:int" use="optional"/>
        <xs:anyAttribute processContents="lax"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="VisualContainer" substitutionGroup="engine:VisualElement"
              type="engine:VisualContainerType"/>
  <xs:complexType name="TemplateContainerType">
    <xs:complexContent mixed="false">
      <xs:restriction base="engine:VisualElementType">
        <xs:attribute name="name" default="" type="xs:string" use="optional"/>
        <xs:attribute name="pickingMode" default="Position" type="engine:VisualElement_pickingMode_Type"
                      use="optional"/>
        <xs:attribute name="focusIndex" default="-1" type="xs:int" use="optional"/>
        <xs:attribute name="template" type="xs:string" use="required"/>
        <xs:anyAttribute processContents="lax"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TemplateContainer" substitutionGroup="engine:VisualElement"
              type="engine:TemplateContainerType"/>
  <xs:complexType name="BoxType">
    <xs:complexContent mixed="false">
      <xs:restriction base="engine:VisualElementType">
        <xs:sequence maxOccurs="unbounded" minOccurs="0">
          <xs:element ref="engine:VisualElement"/>
        </xs:sequence>
        <xs:attribute name="name" default="" type="xs:string" use="optional"/>
        <xs:attribute name="pickingMode" default="Position" type="engine:VisualElement_pickingMode_Type"
                      use="optional"/>
        <xs:attribute name="focusIndex" default="-1" type="xs:int" use="optional"/>
        <xs:anyAttribute processContents="lax"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Box" substitutionGroup="engine:VisualElement" type="engine:BoxType"/>
  <xs:complexType name="PopupWindowType">
    <xs:complexContent mixed="false">
      <xs:restriction base="engine:VisualElementType">
        <xs:sequence maxOccurs="unbounded" minOccurs="0">
          <xs:element ref="engine:VisualElement"/>
        </xs:sequence>
        <xs:attribute name="name" default="" type="xs:string" use="optional"/>
        <xs:attribute name="pickingMode" default="Position" type="engine:VisualElement_pickingMode_Type"
                      use="optional"/>
        <xs:attribute name="focusIndex" default="-1" type="xs:int" use="optional"/>
        <xs:attribute name="text" default="" type="xs:string" use="optional"/>
        <xs:anyAttribute processContents="lax"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PopupWindow" substitutionGroup="engine:VisualElement" type="engine:PopupWindowType"/>
  <xs:complexType name="ListViewType">
    <xs:complexContent mixed="false">
      <xs:restriction base="engine:VisualElementType">
        <xs:attribute name="name" default="" type="xs:string" use="optional"/>
        <xs:attribute name="pickingMode" default="Position" type="engine:VisualElement_pickingMode_Type"
                      use="optional"/>
        <xs:attribute name="focusIndex" default="-1" type="xs:int" use="optional"/>
        <xs:attribute name="itemHeight" default="30" type="xs:int" use="optional"/>
        <xs:anyAttribute processContents="lax"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListView" substitutionGroup="engine:VisualElement" type="engine:ListViewType"/>
  <xs:complexType name="ButtonType">
    <xs:complexContent mixed="false">
      <xs:restriction base="engine:VisualElementType">
        <xs:attribute name="name" default="" type="xs:string" use="optional"/>
        <xs:attribute name="pickingMode" default="Position" type="engine:VisualElement_pickingMode_Type"
                      use="optional"/>
        <xs:attribute name="focusIndex" default="-1" type="xs:int" use="optional"/>
        <xs:attribute name="text" default="" type="xs:string" use="optional"/>
        <xs:anyAttribute processContents="lax"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Button" substitutionGroup="engine:VisualElement" type="engine:ButtonType"/>
</xs:schema>