UIElementsSchema/UnityEditor.Experimental.UIElements.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:editor="UnityEditor.Experimental.UIElements"
           xmlns:engine="UnityEngine.Experimental.UIElements" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified" targetNamespace="UnityEditor.Experimental.UIElements"
           xmlns="UnityEditor.PackageManager.UI">
  <xs:import namespace="UnityEngine.Experimental.UIElements"
             schemaLocation="UnityEngine.Experimental.UIElements.xsd"/>
  <xs:complexType name="FloatFieldType">
    <xs:complexContent mixed="false">
      <xs:restriction base="engine:VisualElementType">
        <xs:attribute name="name" default="" type="xs:string" use="optional"/>
        <xs:attribute name="pickingMode" default="Position" type="engine:VisualElement_pickingMode_Type"
                      use="optional"/>
        <xs:attribute name="focusIndex" default="0" type="xs:int" use="optional"/>
        <xs:attribute name="text" default="" type="xs:string" use="optional"/>
        <xs:attribute name="maxLength" default="-1" type="xs:int" use="optional"/>
        <xs:attribute name="password" default="false" type="xs:boolean" use="optional"/>
        <xs:attribute name="maskCharacter" default="*" type="xs:string" use="optional"/>
        <xs:attribute name="value" default="0" type="xs:float" use="optional"/>
        <xs:anyAttribute processContents="lax"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FloatField" substitutionGroup="engine:VisualElement" type="editor:FloatFieldType"/>
  <xs:complexType name="DoubleFieldType">
    <xs:complexContent mixed="false">
      <xs:restriction base="engine:VisualElementType">
        <xs:attribute name="name" default="" type="xs:string" use="optional"/>
        <xs:attribute name="pickingMode" default="Position" type="engine:VisualElement_pickingMode_Type"
                      use="optional"/>
        <xs:attribute name="focusIndex" default="0" type="xs:int" use="optional"/>
        <xs:attribute name="text" default="" type="xs:string" use="optional"/>
        <xs:attribute name="maxLength" default="-1" type="xs:int" use="optional"/>
        <xs:attribute name="password" default="false" type="xs:boolean" use="optional"/>
        <xs:attribute name="maskCharacter" default="*" type="xs:string" use="optional"/>
        <xs:attribute name="value" default="0" type="xs:double" use="optional"/>
        <xs:anyAttribute processContents="lax"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DoubleField" substitutionGroup="engine:VisualElement" type="editor:DoubleFieldType"/>
  <xs:complexType name="IntegerFieldType">
    <xs:complexContent mixed="false">
      <xs:restriction base="engine:VisualElementType">
        <xs:attribute name="name" default="" type="xs:string" use="optional"/>
        <xs:attribute name="pickingMode" default="Position" type="engine:VisualElement_pickingMode_Type"
                      use="optional"/>
        <xs:attribute name="focusIndex" default="0" type="xs:int" use="optional"/>
        <xs:attribute name="text" default="" type="xs:string" use="optional"/>
        <xs:attribute name="maxLength" default="-1" type="xs:int" use="optional"/>
        <xs:attribute name="password" default="false" type="xs:boolean" use="optional"/>
        <xs:attribute name="maskCharacter" default="*" type="xs:string" use="optional"/>
        <xs:attribute name="value" default="0" type="xs:int" use="optional"/>
        <xs:anyAttribute processContents="lax"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="IntegerField" substitutionGroup="engine:VisualElement" type="editor:IntegerFieldType"/>
  <xs:complexType name="LongFieldType">
    <xs:complexContent mixed="false">
      <xs:restriction base="engine:VisualElementType">
        <xs:attribute name="name" default="" type="xs:string" use="optional"/>
        <xs:attribute name="pickingMode" default="Position" type="engine:VisualElement_pickingMode_Type"
                      use="optional"/>
        <xs:attribute name="focusIndex" default="0" type="xs:int" use="optional"/>
        <xs:attribute name="text" default="" type="xs:string" use="optional"/>
        <xs:attribute name="maxLength" default="-1" type="xs:int" use="optional"/>
        <xs:attribute name="password" default="false" type="xs:boolean" use="optional"/>
        <xs:attribute name="maskCharacter" default="*" type="xs:string" use="optional"/>
        <xs:attribute name="value" default="0" type="xs:long" use="optional"/>
        <xs:anyAttribute processContents="lax"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LongField" substitutionGroup="engine:VisualElement" type="editor:LongFieldType"/>
  <xs:complexType name="CurveFieldType">
    <xs:complexContent mixed="false">
      <xs:restriction base="engine:VisualElementType">
        <xs:attribute name="name" default="" type="xs:string" use="optional"/>
        <xs:attribute name="pickingMode" default="Position" type="engine:VisualElement_pickingMode_Type"
                      use="optional"/>
        <xs:attribute name="focusIndex" default="0" type="xs:int" use="optional"/>
        <xs:anyAttribute processContents="lax"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CurveField" substitutionGroup="engine:VisualElement" type="editor:CurveFieldType"/>
  <xs:complexType name="ObjectFieldType">
    <xs:complexContent mixed="false">
      <xs:restriction base="engine:VisualElementType">
        <xs:attribute name="name" default="" type="xs:string" use="optional"/>
        <xs:attribute name="pickingMode" default="Position" type="engine:VisualElement_pickingMode_Type"
                      use="optional"/>
        <xs:attribute name="focusIndex" default="0" type="xs:int" use="optional"/>
        <xs:attribute name="allowSceneObjects" default="true" type="xs:boolean" use="optional"/>
        <xs:anyAttribute processContents="lax"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ObjectField" substitutionGroup="engine:VisualElement" type="editor:ObjectFieldType"/>
  <xs:complexType name="ColorFieldType">
    <xs:complexContent mixed="false">
      <xs:restriction base="engine:VisualElementType">
        <xs:attribute name="name" default="" type="xs:string" use="optional"/>
        <xs:attribute name="pickingMode" default="Position" type="engine:VisualElement_pickingMode_Type"
                      use="optional"/>
        <xs:attribute name="focusIndex" default="0" type="xs:int" use="optional"/>
        <xs:attribute name="value" default="RGBA(0.000, 0.000, 0.000, 1.000)" type="xs:string"
                      use="optional"/>
        <xs:attribute name="showEyeDropper" default="true" type="xs:boolean" use="optional"/>
        <xs:attribute name="showAlpha" default="true" type="xs:boolean" use="optional"/>
        <xs:attribute name="hdr" default="false" type="xs:boolean" use="optional"/>
        <xs:anyAttribute processContents="lax"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ColorField" substitutionGroup="engine:VisualElement" type="editor:ColorFieldType"/>
  <xs:complexType name="EnumFieldType">
    <xs:complexContent mixed="false">
      <xs:restriction base="engine:VisualElementType">
        <xs:attribute name="name" default="" type="xs:string" use="optional"/>
        <xs:attribute name="pickingMode" default="Position" type="engine:VisualElement_pickingMode_Type"
                      use="optional"/>
        <xs:attribute name="focusIndex" default="0" type="xs:int" use="optional"/>
        <xs:attribute name="text" default="" type="xs:string" use="optional"/>
        <xs:attribute name="type" type="xs:string" use="required"/>
        <xs:attribute name="value" default="" type="xs:string" use="optional"/>
        <xs:anyAttribute processContents="lax"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EnumField" substitutionGroup="engine:VisualElement" type="editor:EnumFieldType"/>
  <xs:complexType name="GradientFieldType">
    <xs:complexContent mixed="false">
      <xs:restriction base="engine:VisualElementType">
        <xs:attribute name="name" default="" type="xs:string" use="optional"/>
        <xs:attribute name="pickingMode" default="Position" type="engine:VisualElement_pickingMode_Type"
                      use="optional"/>
        <xs:attribute name="focusIndex" default="0" type="xs:int" use="optional"/>
        <xs:anyAttribute processContents="lax"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GradientField" substitutionGroup="engine:VisualElement" type="editor:GradientFieldType"/>
  <xs:complexType name="RectFieldType">
    <xs:complexContent mixed="false">
      <xs:restriction base="engine:VisualElementType">
        <xs:attribute name="name" default="" type="xs:string" use="optional"/>
        <xs:attribute name="pickingMode" default="Position" type="engine:VisualElement_pickingMode_Type"
                      use="optional"/>
        <xs:attribute name="focusIndex" default="0" type="xs:int" use="optional"/>
        <xs:attribute name="x" default="0" type="xs:float" use="optional"/>
        <xs:attribute name="y" default="0" type="xs:float" use="optional"/>
        <xs:attribute name="w" default="0" type="xs:float" use="optional"/>
        <xs:attribute name="h" default="0" type="xs:float" use="optional"/>
        <xs:anyAttribute processContents="lax"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RectField" substitutionGroup="engine:VisualElement" type="editor:RectFieldType"/>
  <xs:complexType name="Vector2FieldType">
    <xs:complexContent mixed="false">
      <xs:restriction base="engine:VisualElementType">
        <xs:attribute name="name" default="" type="xs:string" use="optional"/>
        <xs:attribute name="pickingMode" default="Position" type="engine:VisualElement_pickingMode_Type"
                      use="optional"/>
        <xs:attribute name="focusIndex" default="0" type="xs:int" use="optional"/>
        <xs:attribute name="x" default="0" type="xs:float" use="optional"/>
        <xs:attribute name="y" default="0" type="xs:float" use="optional"/>
        <xs:anyAttribute processContents="lax"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Vector2Field" substitutionGroup="engine:VisualElement" type="editor:Vector2FieldType"/>
  <xs:complexType name="Vector3FieldType">
    <xs:complexContent mixed="false">
      <xs:restriction base="engine:VisualElementType">
        <xs:attribute name="name" default="" type="xs:string" use="optional"/>
        <xs:attribute name="pickingMode" default="Position" type="engine:VisualElement_pickingMode_Type"
                      use="optional"/>
        <xs:attribute name="focusIndex" default="0" type="xs:int" use="optional"/>
        <xs:attribute name="x" default="0" type="xs:float" use="optional"/>
        <xs:attribute name="y" default="0" type="xs:float" use="optional"/>
        <xs:attribute name="z" default="0" type="xs:float" use="optional"/>
        <xs:anyAttribute processContents="lax"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Vector3Field" substitutionGroup="engine:VisualElement" type="editor:Vector3FieldType"/>
  <xs:complexType name="Vector4FieldType">
    <xs:complexContent mixed="false">
      <xs:restriction base="engine:VisualElementType">
        <xs:attribute name="name" default="" type="xs:string" use="optional"/>
        <xs:attribute name="pickingMode" default="Position" type="engine:VisualElement_pickingMode_Type"
                      use="optional"/>
        <xs:attribute name="focusIndex" default="0" type="xs:int" use="optional"/>
        <xs:attribute name="x" default="0" type="xs:float" use="optional"/>
        <xs:attribute name="y" default="0" type="xs:float" use="optional"/>
        <xs:attribute name="z" default="0" type="xs:float" use="optional"/>
        <xs:attribute name="w" default="0" type="xs:float" use="optional"/>
        <xs:anyAttribute processContents="lax"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Vector4Field" substitutionGroup="engine:VisualElement" type="editor:Vector4FieldType"/>
  <xs:complexType name="BoundsFieldType">
    <xs:complexContent mixed="false">
      <xs:restriction base="engine:VisualElementType">
        <xs:attribute name="name" default="" type="xs:string" use="optional"/>
        <xs:attribute name="pickingMode" default="Position" type="engine:VisualElement_pickingMode_Type"
                      use="optional"/>
        <xs:attribute name="focusIndex" default="0" type="xs:int" use="optional"/>
        <xs:attribute name="cx" default="0" type="xs:float" use="optional"/>
        <xs:attribute name="cy" default="0" type="xs:float" use="optional"/>
        <xs:attribute name="cz" default="0" type="xs:float" use="optional"/>
        <xs:attribute name="ex" default="0" type="xs:float" use="optional"/>
        <xs:attribute name="ey" default="0" type="xs:float" use="optional"/>
        <xs:attribute name="ez" default="0" type="xs:float" use="optional"/>
        <xs:anyAttribute processContents="lax"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BoundsField" substitutionGroup="engine:VisualElement" type="editor:BoundsFieldType"/>
  <xs:simpleType name="PropertyControl_typeOf_Type">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Long"/>
      <xs:enumeration value="Double"/>
      <xs:enumeration value="Int"/>
      <xs:enumeration value="Float"/>
      <xs:enumeration value="String"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="PropertyControlType">
    <xs:complexContent mixed="false">
      <xs:restriction base="engine:VisualElementType">
        <xs:attribute name="name" default="" type="xs:string" use="optional"/>
        <xs:attribute name="pickingMode" default="Position" type="engine:VisualElement_pickingMode_Type"
                      use="optional"/>
        <xs:attribute name="focusIndex" default="0" type="xs:int" use="optional"/>
        <xs:attribute name="typeOf" type="editor:PropertyControl_typeOf_Type" use="required"/>
        <xs:attribute name="value" default="" type="xs:string" use="optional"/>
        <xs:attribute name="label" default="" type="xs:string" use="optional"/>
        <xs:anyAttribute processContents="lax"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PropertyControl" substitutionGroup="engine:VisualElement"
              type="editor:PropertyControlType"/>
</xs:schema>