UIElementsSchema/UnityEditor.Experimental.UIElements.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:editor="UnityEditor.Experimental.UIElements"
           xmlns:engine="UnityEngine.Experimental.UIElements" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified" targetNamespace="UnityEditor.Experimental.UIElements">
  <xs:import namespace="UnityEngine.Experimental.UIElements"
             schemaLocation="UnityEngine.Experimental.UIElements.xsd"/>
  <xs:complexType name="FloatFieldType">
    <xs:complexContent mixed="false">
      <xs:restriction base="engine:VisualElementType">
        <xs:attribute name="name" default="" type="xs:string" use="optional"/>
        <xs:attribute name="picking-mode" default="Position" type="engine:VisualElement_picking-mode_Type"
                      use="optional"/>
        <xs:attribute name="tooltip" default="" type="xs:string" use="optional"/>
        <xs:attribute name="focus-index" default="0" type="xs:int" use="optional"/>
        <xs:attribute name="binding-path" default="" type="xs:string" use="optional"/>
        <xs:attribute name="max-length" default="-1" type="xs:int" use="optional"/>
        <xs:attribute name="password" default="false" type="xs:boolean" use="optional"/>
        <xs:attribute name="mask-character" default="*" type="xs:string" use="optional"/>
        <xs:attribute name="text" default="" type="xs:string" use="optional"/>
        <xs:attribute name="value" default="0" type="xs:float" use="optional"/>
        <xs:anyAttribute processContents="lax"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FloatField" substitutionGroup="engine:VisualElement" type="editor:FloatFieldType"/>
  <xs:complexType name="DoubleFieldType">
    <xs:complexContent mixed="false">
      <xs:restriction base="engine:VisualElementType">
        <xs:attribute name="name" default="" type="xs:string" use="optional"/>
        <xs:attribute name="picking-mode" default="Position" type="engine:VisualElement_picking-mode_Type"
                      use="optional"/>
        <xs:attribute name="tooltip" default="" type="xs:string" use="optional"/>
        <xs:attribute name="focus-index" default="0" type="xs:int" use="optional"/>
        <xs:attribute name="binding-path" default="" type="xs:string" use="optional"/>
        <xs:attribute name="max-length" default="-1" type="xs:int" use="optional"/>
        <xs:attribute name="password" default="false" type="xs:boolean" use="optional"/>
        <xs:attribute name="mask-character" default="*" type="xs:string" use="optional"/>
        <xs:attribute name="text" default="" type="xs:string" use="optional"/>
        <xs:attribute name="value" default="0" type="xs:double" use="optional"/>
        <xs:anyAttribute processContents="lax"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DoubleField" substitutionGroup="engine:VisualElement" type="editor:DoubleFieldType"/>
  <xs:complexType name="IntegerFieldType">
    <xs:complexContent mixed="false">
      <xs:restriction base="engine:VisualElementType">
        <xs:attribute name="name" default="" type="xs:string" use="optional"/>
        <xs:attribute name="picking-mode" default="Position" type="engine:VisualElement_picking-mode_Type"
                      use="optional"/>
        <xs:attribute name="tooltip" default="" type="xs:string" use="optional"/>
        <xs:attribute name="focus-index" default="0" type="xs:int" use="optional"/>
        <xs:attribute name="binding-path" default="" type="xs:string" use="optional"/>
        <xs:attribute name="max-length" default="-1" type="xs:int" use="optional"/>
        <xs:attribute name="password" default="false" type="xs:boolean" use="optional"/>
        <xs:attribute name="mask-character" default="*" type="xs:string" use="optional"/>
        <xs:attribute name="text" default="" type="xs:string" use="optional"/>
        <xs:attribute name="value" default="0" type="xs:int" use="optional"/>
        <xs:anyAttribute processContents="lax"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="IntegerField" substitutionGroup="engine:VisualElement" type="editor:IntegerFieldType"/>
  <xs:complexType name="LongFieldType">
    <xs:complexContent mixed="false">
      <xs:restriction base="engine:VisualElementType">
        <xs:attribute name="name" default="" type="xs:string" use="optional"/>
        <xs:attribute name="picking-mode" default="Position" type="engine:VisualElement_picking-mode_Type"
                      use="optional"/>
        <xs:attribute name="tooltip" default="" type="xs:string" use="optional"/>
        <xs:attribute name="focus-index" default="0" type="xs:int" use="optional"/>
        <xs:attribute name="binding-path" default="" type="xs:string" use="optional"/>
        <xs:attribute name="max-length" default="-1" type="xs:int" use="optional"/>
        <xs:attribute name="password" default="false" type="xs:boolean" use="optional"/>
        <xs:attribute name="mask-character" default="*" type="xs:string" use="optional"/>
        <xs:attribute name="text" default="" type="xs:string" use="optional"/>
        <xs:attribute name="value" default="0" type="xs:long" use="optional"/>
        <xs:anyAttribute processContents="lax"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LongField" substitutionGroup="engine:VisualElement" type="editor:LongFieldType"/>
  <xs:complexType name="CurveFieldType">
    <xs:complexContent mixed="false">
      <xs:restriction base="engine:VisualElementType">
        <xs:attribute name="name" default="" type="xs:string" use="optional"/>
        <xs:attribute name="picking-mode" default="Position" type="engine:VisualElement_picking-mode_Type"
                      use="optional"/>
        <xs:attribute name="tooltip" default="" type="xs:string" use="optional"/>
        <xs:attribute name="focus-index" default="0" type="xs:int" use="optional"/>
        <xs:attribute name="binding-path" default="" type="xs:string" use="optional"/>
        <xs:anyAttribute processContents="lax"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CurveField" substitutionGroup="engine:VisualElement" type="editor:CurveFieldType"/>
  <xs:complexType name="ObjectFieldType">
    <xs:complexContent mixed="false">
      <xs:restriction base="engine:VisualElementType">
        <xs:attribute name="name" default="" type="xs:string" use="optional"/>
        <xs:attribute name="picking-mode" default="Position" type="engine:VisualElement_picking-mode_Type"
                      use="optional"/>
        <xs:attribute name="tooltip" default="" type="xs:string" use="optional"/>
        <xs:attribute name="focus-index" default="0" type="xs:int" use="optional"/>
        <xs:attribute name="binding-path" default="" type="xs:string" use="optional"/>
        <xs:attribute name="allow-scene-objects" default="true" type="xs:boolean" use="optional"/>
        <xs:anyAttribute processContents="lax"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ObjectField" substitutionGroup="engine:VisualElement" type="editor:ObjectFieldType"/>
  <xs:complexType name="ColorFieldType">
    <xs:complexContent mixed="false">
      <xs:restriction base="engine:VisualElementType">
        <xs:attribute name="name" default="" type="xs:string" use="optional"/>
        <xs:attribute name="picking-mode" default="Position" type="engine:VisualElement_picking-mode_Type"
                      use="optional"/>
        <xs:attribute name="tooltip" default="" type="xs:string" use="optional"/>
        <xs:attribute name="focus-index" default="0" type="xs:int" use="optional"/>
        <xs:attribute name="binding-path" default="" type="xs:string" use="optional"/>
        <xs:attribute name="value" default="RGBA(0.000, 0.000, 0.000, 1.000)" type="xs:string"
                      use="optional"/>
        <xs:attribute name="show-eye-dropper" default="true" type="xs:boolean" use="optional"/>
        <xs:attribute name="show-alpha" default="true" type="xs:boolean" use="optional"/>
        <xs:attribute name="hdr" default="false" type="xs:boolean" use="optional"/>
        <xs:anyAttribute processContents="lax"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ColorField" substitutionGroup="engine:VisualElement" type="editor:ColorFieldType"/>
  <xs:complexType name="EnumFieldType">
    <xs:complexContent mixed="false">
      <xs:restriction base="engine:VisualElementType">
        <xs:attribute name="name" default="" type="xs:string" use="optional"/>
        <xs:attribute name="picking-mode" default="Position" type="engine:VisualElement_picking-mode_Type"
                      use="optional"/>
        <xs:attribute name="tooltip" default="" type="xs:string" use="optional"/>
        <xs:attribute name="focus-index" default="0" type="xs:int" use="optional"/>
        <xs:attribute name="binding-path" default="" type="xs:string" use="optional"/>
        <xs:attribute name="type" type="xs:string" use="required"/>
        <xs:attribute name="value" default="" type="xs:string" use="optional"/>
        <xs:anyAttribute processContents="lax"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EnumField" substitutionGroup="engine:VisualElement" type="editor:EnumFieldType"/>
  <xs:complexType name="MaskFieldType">
    <xs:complexContent mixed="false">
      <xs:restriction base="engine:VisualElementType">
        <xs:attribute name="name" default="" type="xs:string" use="optional"/>
        <xs:attribute name="picking-mode" default="Position" type="engine:VisualElement_picking-mode_Type"
                      use="optional"/>
        <xs:attribute name="tooltip" default="" type="xs:string" use="optional"/>
        <xs:attribute name="focus-index" default="0" type="xs:int" use="optional"/>
        <xs:attribute name="binding-path" default="" type="xs:string" use="optional"/>
        <xs:attribute name="choices" default="" type="xs:string" use="optional"/>
        <xs:attribute name="value" default="0" type="xs:int" use="optional"/>
        <xs:anyAttribute processContents="lax"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MaskField" substitutionGroup="engine:VisualElement" type="editor:MaskFieldType"/>
  <xs:complexType name="LayerMaskFieldType">
    <xs:complexContent mixed="false">
      <xs:restriction base="engine:VisualElementType">
        <xs:attribute name="name" default="" type="xs:string" use="optional"/>
        <xs:attribute name="picking-mode" default="Position" type="engine:VisualElement_picking-mode_Type"
                      use="optional"/>
        <xs:attribute name="tooltip" default="" type="xs:string" use="optional"/>
        <xs:attribute name="focus-index" default="0" type="xs:int" use="optional"/>
        <xs:attribute name="binding-path" default="" type="xs:string" use="optional"/>
        <xs:attribute name="choices" default="" type="xs:string" use="optional"/>
        <xs:attribute name="value" default="0" type="xs:int" use="optional"/>
        <xs:anyAttribute processContents="lax"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LayerMaskField" substitutionGroup="engine:VisualElement"
              type="editor:LayerMaskFieldType"/>
  <xs:complexType name="LayerFieldType">
    <xs:complexContent mixed="false">
      <xs:restriction base="engine:VisualElementType">
        <xs:attribute name="name" default="" type="xs:string" use="optional"/>
        <xs:attribute name="picking-mode" default="Position" type="engine:VisualElement_picking-mode_Type"
                      use="optional"/>
        <xs:attribute name="tooltip" default="" type="xs:string" use="optional"/>
        <xs:attribute name="focus-index" default="0" type="xs:int" use="optional"/>
        <xs:attribute name="binding-path" default="" type="xs:string" use="optional"/>
        <xs:attribute name="value" default="0" type="xs:int" use="optional"/>
        <xs:anyAttribute processContents="lax"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LayerField" substitutionGroup="engine:VisualElement" type="editor:LayerFieldType"/>
  <xs:complexType name="TagFieldType">
    <xs:complexContent mixed="false">
      <xs:restriction base="engine:VisualElementType">
        <xs:attribute name="name" default="" type="xs:string" use="optional"/>
        <xs:attribute name="picking-mode" default="Position" type="engine:VisualElement_picking-mode_Type"
                      use="optional"/>
        <xs:attribute name="tooltip" default="" type="xs:string" use="optional"/>
        <xs:attribute name="focus-index" default="0" type="xs:int" use="optional"/>
        <xs:attribute name="binding-path" default="" type="xs:string" use="optional"/>
        <xs:attribute name="value" default="" type="xs:string" use="optional"/>
        <xs:anyAttribute processContents="lax"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TagField" substitutionGroup="engine:VisualElement" type="editor:TagFieldType"/>
  <xs:complexType name="GradientFieldType">
    <xs:complexContent mixed="false">
      <xs:restriction base="engine:VisualElementType">
        <xs:attribute name="name" default="" type="xs:string" use="optional"/>
        <xs:attribute name="picking-mode" default="Position" type="engine:VisualElement_picking-mode_Type"
                      use="optional"/>
        <xs:attribute name="tooltip" default="" type="xs:string" use="optional"/>
        <xs:attribute name="focus-index" default="0" type="xs:int" use="optional"/>
        <xs:attribute name="binding-path" default="" type="xs:string" use="optional"/>
        <xs:anyAttribute processContents="lax"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GradientField" substitutionGroup="engine:VisualElement" type="editor:GradientFieldType"/>
  <xs:complexType name="RectFieldType">
    <xs:complexContent mixed="false">
      <xs:restriction base="engine:VisualElementType">
        <xs:attribute name="name" default="" type="xs:string" use="optional"/>
        <xs:attribute name="picking-mode" default="Position" type="engine:VisualElement_picking-mode_Type"
                      use="optional"/>
        <xs:attribute name="tooltip" default="" type="xs:string" use="optional"/>
        <xs:attribute name="focus-index" default="0" type="xs:int" use="optional"/>
        <xs:attribute name="binding-path" default="" type="xs:string" use="optional"/>
        <xs:attribute name="x" default="0" type="xs:float" use="optional"/>
        <xs:attribute name="y" default="0" type="xs:float" use="optional"/>
        <xs:attribute name="w" default="0" type="xs:float" use="optional"/>
        <xs:attribute name="h" default="0" type="xs:float" use="optional"/>
        <xs:anyAttribute processContents="lax"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RectField" substitutionGroup="engine:VisualElement" type="editor:RectFieldType"/>
  <xs:complexType name="Vector2FieldType">
    <xs:complexContent mixed="false">
      <xs:restriction base="engine:VisualElementType">
        <xs:attribute name="name" default="" type="xs:string" use="optional"/>
        <xs:attribute name="picking-mode" default="Position" type="engine:VisualElement_picking-mode_Type"
                      use="optional"/>
        <xs:attribute name="tooltip" default="" type="xs:string" use="optional"/>
        <xs:attribute name="focus-index" default="0" type="xs:int" use="optional"/>
        <xs:attribute name="binding-path" default="" type="xs:string" use="optional"/>
        <xs:attribute name="x" default="0" type="xs:float" use="optional"/>
        <xs:attribute name="y" default="0" type="xs:float" use="optional"/>
        <xs:anyAttribute processContents="lax"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Vector2Field" substitutionGroup="engine:VisualElement" type="editor:Vector2FieldType"/>
  <xs:complexType name="Vector3FieldType">
    <xs:complexContent mixed="false">
      <xs:restriction base="engine:VisualElementType">
        <xs:attribute name="name" default="" type="xs:string" use="optional"/>
        <xs:attribute name="picking-mode" default="Position" type="engine:VisualElement_picking-mode_Type"
                      use="optional"/>
        <xs:attribute name="tooltip" default="" type="xs:string" use="optional"/>
        <xs:attribute name="focus-index" default="0" type="xs:int" use="optional"/>
        <xs:attribute name="binding-path" default="" type="xs:string" use="optional"/>
        <xs:attribute name="x" default="0" type="xs:float" use="optional"/>
        <xs:attribute name="y" default="0" type="xs:float" use="optional"/>
        <xs:attribute name="z" default="0" type="xs:float" use="optional"/>
        <xs:anyAttribute processContents="lax"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Vector3Field" substitutionGroup="engine:VisualElement" type="editor:Vector3FieldType"/>
  <xs:complexType name="Vector4FieldType">
    <xs:complexContent mixed="false">
      <xs:restriction base="engine:VisualElementType">
        <xs:attribute name="name" default="" type="xs:string" use="optional"/>
        <xs:attribute name="picking-mode" default="Position" type="engine:VisualElement_picking-mode_Type"
                      use="optional"/>
        <xs:attribute name="tooltip" default="" type="xs:string" use="optional"/>
        <xs:attribute name="focus-index" default="0" type="xs:int" use="optional"/>
        <xs:attribute name="binding-path" default="" type="xs:string" use="optional"/>
        <xs:attribute name="x" default="0" type="xs:float" use="optional"/>
        <xs:attribute name="y" default="0" type="xs:float" use="optional"/>
        <xs:attribute name="z" default="0" type="xs:float" use="optional"/>
        <xs:attribute name="w" default="0" type="xs:float" use="optional"/>
        <xs:anyAttribute processContents="lax"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Vector4Field" substitutionGroup="engine:VisualElement" type="editor:Vector4FieldType"/>
  <xs:complexType name="BoundsFieldType">
    <xs:complexContent mixed="false">
      <xs:restriction base="engine:VisualElementType">
        <xs:attribute name="name" default="" type="xs:string" use="optional"/>
        <xs:attribute name="picking-mode" default="Position" type="engine:VisualElement_picking-mode_Type"
                      use="optional"/>
        <xs:attribute name="tooltip" default="" type="xs:string" use="optional"/>
        <xs:attribute name="focus-index" default="0" type="xs:int" use="optional"/>
        <xs:attribute name="binding-path" default="" type="xs:string" use="optional"/>
        <xs:attribute name="cx" default="0" type="xs:float" use="optional"/>
        <xs:attribute name="cy" default="0" type="xs:float" use="optional"/>
        <xs:attribute name="cz" default="0" type="xs:float" use="optional"/>
        <xs:attribute name="ex" default="0" type="xs:float" use="optional"/>
        <xs:attribute name="ey" default="0" type="xs:float" use="optional"/>
        <xs:attribute name="ez" default="0" type="xs:float" use="optional"/>
        <xs:anyAttribute processContents="lax"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BoundsField" substitutionGroup="engine:VisualElement" type="editor:BoundsFieldType"/>
  <xs:simpleType name="PropertyControl_value-type_Type">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Long"/>
      <xs:enumeration value="Double"/>
      <xs:enumeration value="Int"/>
      <xs:enumeration value="Float"/>
      <xs:enumeration value="String"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="PropertyControlType">
    <xs:complexContent mixed="false">
      <xs:restriction base="engine:VisualElementType">
        <xs:attribute name="name" default="" type="xs:string" use="optional"/>
        <xs:attribute name="picking-mode" default="Position" type="engine:VisualElement_picking-mode_Type"
                      use="optional"/>
        <xs:attribute name="tooltip" default="" type="xs:string" use="optional"/>
        <xs:attribute name="focus-index" default="0" type="xs:int" use="optional"/>
        <xs:attribute name="binding-path" default="" type="xs:string" use="optional"/>
        <xs:attribute name="value-type" type="editor:PropertyControl_value-type_Type" use="required"/>
        <xs:attribute name="value" default="" type="xs:string" use="optional"/>
        <xs:attribute name="label" default="" type="xs:string" use="optional"/>
        <xs:anyAttribute processContents="lax"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PropertyControl" substitutionGroup="engine:VisualElement"
              type="editor:PropertyControlType"/>
  <xs:complexType name="RectIntFieldType">
    <xs:complexContent mixed="false">
      <xs:restriction base="engine:VisualElementType">
        <xs:attribute name="name" default="" type="xs:string" use="optional"/>
        <xs:attribute name="picking-mode" default="Position" type="engine:VisualElement_picking-mode_Type"
                      use="optional"/>
        <xs:attribute name="tooltip" default="" type="xs:string" use="optional"/>
        <xs:attribute name="focus-index" default="0" type="xs:int" use="optional"/>
        <xs:attribute name="binding-path" default="" type="xs:string" use="optional"/>
        <xs:attribute name="x" default="0" type="xs:int" use="optional"/>
        <xs:attribute name="y" default="0" type="xs:int" use="optional"/>
        <xs:attribute name="w" default="0" type="xs:int" use="optional"/>
        <xs:attribute name="h" default="0" type="xs:int" use="optional"/>
        <xs:anyAttribute processContents="lax"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RectIntField" substitutionGroup="engine:VisualElement" type="editor:RectIntFieldType"/>
  <xs:complexType name="Vector2IntFieldType">
    <xs:complexContent mixed="false">
      <xs:restriction base="engine:VisualElementType">
        <xs:attribute name="name" default="" type="xs:string" use="optional"/>
        <xs:attribute name="picking-mode" default="Position" type="engine:VisualElement_picking-mode_Type"
                      use="optional"/>
        <xs:attribute name="tooltip" default="" type="xs:string" use="optional"/>
        <xs:attribute name="focus-index" default="0" type="xs:int" use="optional"/>
        <xs:attribute name="binding-path" default="" type="xs:string" use="optional"/>
        <xs:attribute name="x" default="0" type="xs:int" use="optional"/>
        <xs:attribute name="y" default="0" type="xs:int" use="optional"/>
        <xs:anyAttribute processContents="lax"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Vector2IntField" substitutionGroup="engine:VisualElement"
              type="editor:Vector2IntFieldType"/>
  <xs:complexType name="Vector3IntFieldType">
    <xs:complexContent mixed="false">
      <xs:restriction base="engine:VisualElementType">
        <xs:attribute name="name" default="" type="xs:string" use="optional"/>
        <xs:attribute name="picking-mode" default="Position" type="engine:VisualElement_picking-mode_Type"
                      use="optional"/>
        <xs:attribute name="tooltip" default="" type="xs:string" use="optional"/>
        <xs:attribute name="focus-index" default="0" type="xs:int" use="optional"/>
        <xs:attribute name="binding-path" default="" type="xs:string" use="optional"/>
        <xs:attribute name="x" default="0" type="xs:int" use="optional"/>
        <xs:attribute name="y" default="0" type="xs:int" use="optional"/>
        <xs:attribute name="z" default="0" type="xs:int" use="optional"/>
        <xs:anyAttribute processContents="lax"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Vector3IntField" substitutionGroup="engine:VisualElement"
              type="editor:Vector3IntFieldType"/>
  <xs:complexType name="BoundsIntFieldType">
    <xs:complexContent mixed="false">
      <xs:restriction base="engine:VisualElementType">
        <xs:attribute name="name" default="" type="xs:string" use="optional"/>
        <xs:attribute name="picking-mode" default="Position" type="engine:VisualElement_picking-mode_Type"
                      use="optional"/>
        <xs:attribute name="tooltip" default="" type="xs:string" use="optional"/>
        <xs:attribute name="focus-index" default="0" type="xs:int" use="optional"/>
        <xs:attribute name="binding-path" default="" type="xs:string" use="optional"/>
        <xs:attribute name="px" default="0" type="xs:int" use="optional"/>
        <xs:attribute name="py" default="0" type="xs:int" use="optional"/>
        <xs:attribute name="pz" default="0" type="xs:int" use="optional"/>
        <xs:attribute name="sx" default="0" type="xs:int" use="optional"/>
        <xs:attribute name="sy" default="0" type="xs:int" use="optional"/>
        <xs:attribute name="sz" default="0" type="xs:int" use="optional"/>
        <xs:anyAttribute processContents="lax"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BoundsIntField" substitutionGroup="engine:VisualElement"
              type="editor:BoundsIntFieldType"/>
  <xs:complexType name="VisualSplitterType">
    <xs:complexContent mixed="false">
      <xs:restriction base="engine:VisualElementType">
        <xs:sequence maxOccurs="unbounded" minOccurs="0">
          <xs:element ref="engine:VisualElement"/>
        </xs:sequence>
        <xs:attribute name="name" default="" type="xs:string" use="optional"/>
        <xs:attribute name="picking-mode" default="Position" type="engine:VisualElement_picking-mode_Type"
                      use="optional"/>
        <xs:attribute name="tooltip" default="" type="xs:string" use="optional"/>
        <xs:attribute name="focus-index" default="-1" type="xs:int" use="optional"/>
        <xs:anyAttribute processContents="lax"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="VisualSplitter" substitutionGroup="engine:VisualElement"
              type="editor:VisualSplitterType"/>
  <xs:complexType name="ToolbarType">
    <xs:complexContent mixed="false">
      <xs:restriction base="engine:VisualElementType">
        <xs:sequence maxOccurs="unbounded" minOccurs="0">
          <xs:element ref="engine:VisualElement"/>
        </xs:sequence>
        <xs:attribute name="name" default="" type="xs:string" use="optional"/>
        <xs:attribute name="picking-mode" default="Position" type="engine:VisualElement_picking-mode_Type"
                      use="optional"/>
        <xs:attribute name="tooltip" default="" type="xs:string" use="optional"/>
        <xs:attribute name="focus-index" default="-1" type="xs:int" use="optional"/>
        <xs:anyAttribute processContents="lax"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Toolbar" substitutionGroup="engine:VisualElement" type="editor:ToolbarType"/>
  <xs:complexType name="ToolbarButtonType">
    <xs:complexContent mixed="false">
      <xs:restriction base="engine:VisualElementType">
        <xs:attribute name="name" default="" type="xs:string" use="optional"/>
        <xs:attribute name="picking-mode" default="Position" type="engine:VisualElement_picking-mode_Type"
                      use="optional"/>
        <xs:attribute name="tooltip" default="" type="xs:string" use="optional"/>
        <xs:attribute name="focus-index" default="-1" type="xs:int" use="optional"/>
        <xs:attribute name="text" default="" type="xs:string" use="optional"/>
        <xs:anyAttribute processContents="lax"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ToolbarButton" substitutionGroup="engine:VisualElement" type="editor:ToolbarButtonType"/>
  <xs:complexType name="ToolbarToggleType">
    <xs:complexContent mixed="false">
      <xs:restriction base="engine:VisualElementType">
        <xs:attribute name="name" default="" type="xs:string" use="optional"/>
        <xs:attribute name="picking-mode" default="Position" type="engine:VisualElement_picking-mode_Type"
                      use="optional"/>
        <xs:attribute name="tooltip" default="" type="xs:string" use="optional"/>
        <xs:attribute name="focus-index" default="0" type="xs:int" use="optional"/>
        <xs:attribute name="binding-path" default="" type="xs:string" use="optional"/>
        <xs:attribute name="label" default="" type="xs:string" use="optional"/>
        <xs:attribute name="value" default="false" type="xs:boolean" use="optional"/>
        <xs:anyAttribute processContents="lax"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ToolbarToggle" substitutionGroup="engine:VisualElement" type="editor:ToolbarToggleType"/>
  <xs:complexType name="ToolbarSpacerType">
    <xs:complexContent mixed="false">
      <xs:restriction base="engine:VisualElementType">
        <xs:sequence maxOccurs="unbounded" minOccurs="0">
          <xs:element ref="engine:VisualElement"/>
        </xs:sequence>
        <xs:attribute name="name" default="" type="xs:string" use="optional"/>
        <xs:attribute name="picking-mode" default="Position" type="engine:VisualElement_picking-mode_Type"
                      use="optional"/>
        <xs:attribute name="tooltip" default="" type="xs:string" use="optional"/>
        <xs:attribute name="focus-index" default="-1" type="xs:int" use="optional"/>
        <xs:anyAttribute processContents="lax"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ToolbarSpacer" substitutionGroup="engine:VisualElement" type="editor:ToolbarSpacerType"/>
  <xs:complexType name="ToolbarFlexSpacerType">
    <xs:complexContent mixed="false">
      <xs:restriction base="engine:VisualElementType">
        <xs:sequence maxOccurs="unbounded" minOccurs="0">
          <xs:element ref="engine:VisualElement"/>
        </xs:sequence>
        <xs:attribute name="name" default="" type="xs:string" use="optional"/>
        <xs:attribute name="picking-mode" default="Position" type="engine:VisualElement_picking-mode_Type"
                      use="optional"/>
        <xs:attribute name="tooltip" default="" type="xs:string" use="optional"/>
        <xs:attribute name="focus-index" default="-1" type="xs:int" use="optional"/>
        <xs:anyAttribute processContents="lax"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ToolbarFlexSpacer" substitutionGroup="engine:VisualElement"
              type="editor:ToolbarFlexSpacerType"/>
  <xs:complexType name="ToolbarMenuType">
    <xs:complexContent mixed="false">
      <xs:restriction base="engine:VisualElementType">
        <xs:attribute name="name" default="" type="xs:string" use="optional"/>
        <xs:attribute name="picking-mode" default="Position" type="engine:VisualElement_picking-mode_Type"
                      use="optional"/>
        <xs:attribute name="tooltip" default="" type="xs:string" use="optional"/>
        <xs:attribute name="focus-index" default="-1" type="xs:int" use="optional"/>
        <xs:attribute name="text" default="" type="xs:string" use="optional"/>
        <xs:anyAttribute processContents="lax"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ToolbarMenu" substitutionGroup="engine:VisualElement" type="editor:ToolbarMenuType"/>
  <xs:complexType name="ToolbarPopupType">
    <xs:complexContent mixed="false">
      <xs:restriction base="engine:VisualElementType">
        <xs:attribute name="name" default="" type="xs:string" use="optional"/>
        <xs:attribute name="picking-mode" default="Position" type="engine:VisualElement_picking-mode_Type"
                      use="optional"/>
        <xs:attribute name="tooltip" default="" type="xs:string" use="optional"/>
        <xs:attribute name="focus-index" default="-1" type="xs:int" use="optional"/>
        <xs:attribute name="text" default="" type="xs:string" use="optional"/>
        <xs:anyAttribute processContents="lax"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ToolbarPopup" substitutionGroup="engine:VisualElement" type="editor:ToolbarPopupType"/>
  <xs:complexType name="ToolbarSearchFieldType">
    <xs:complexContent mixed="false">
      <xs:restriction base="engine:VisualElementType">
        <xs:sequence maxOccurs="unbounded" minOccurs="0">
          <xs:element ref="engine:VisualElement"/>
        </xs:sequence>
        <xs:attribute name="name" default="" type="xs:string" use="optional"/>
        <xs:attribute name="picking-mode" default="Position" type="engine:VisualElement_picking-mode_Type"
                      use="optional"/>
        <xs:attribute name="tooltip" default="" type="xs:string" use="optional"/>
        <xs:attribute name="focus-index" default="-1" type="xs:int" use="optional"/>
        <xs:anyAttribute processContents="lax"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ToolbarSearchField" substitutionGroup="engine:VisualElement"
              type="editor:ToolbarSearchFieldType"/>
  <xs:complexType name="ToolbarPopupSearchFieldType">
    <xs:complexContent mixed="false">
      <xs:restriction base="engine:VisualElementType">
        <xs:sequence maxOccurs="unbounded" minOccurs="0">
          <xs:element ref="engine:VisualElement"/>
        </xs:sequence>
        <xs:attribute name="name" default="" type="xs:string" use="optional"/>
        <xs:attribute name="picking-mode" default="Position" type="engine:VisualElement_picking-mode_Type"
                      use="optional"/>
        <xs:attribute name="tooltip" default="" type="xs:string" use="optional"/>
        <xs:attribute name="focus-index" default="-1" type="xs:int" use="optional"/>
        <xs:anyAttribute processContents="lax"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ToolbarPopupSearchField" substitutionGroup="engine:VisualElement"
              type="editor:ToolbarPopupSearchFieldType"/>
  <xs:complexType name="PropertyFieldType">
    <xs:complexContent mixed="false">
      <xs:restriction base="engine:VisualElementType">
        <xs:sequence maxOccurs="unbounded" minOccurs="0">
          <xs:element ref="engine:VisualElement"/>
        </xs:sequence>
        <xs:attribute name="name" default="" type="xs:string" use="optional"/>
        <xs:attribute name="picking-mode" default="Position" type="engine:VisualElement_picking-mode_Type"
                      use="optional"/>
        <xs:attribute name="tooltip" default="" type="xs:string" use="optional"/>
        <xs:attribute name="focus-index" default="-1" type="xs:int" use="optional"/>
        <xs:attribute name="binding-path" default="" type="xs:string" use="optional"/>
        <xs:attribute name="label" default="" type="xs:string" use="optional"/>
        <xs:anyAttribute processContents="lax"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PropertyField" substitutionGroup="engine:VisualElement" type="editor:PropertyFieldType"/>
  <xs:complexType name="InspectorElementType">
    <xs:complexContent mixed="false">
      <xs:restriction base="engine:VisualElementType">
        <xs:sequence maxOccurs="unbounded" minOccurs="0">
          <xs:element ref="engine:VisualElement"/>
        </xs:sequence>
        <xs:attribute name="name" default="" type="xs:string" use="optional"/>
        <xs:attribute name="picking-mode" default="Position" type="engine:VisualElement_picking-mode_Type"
                      use="optional"/>
        <xs:attribute name="tooltip" default="" type="xs:string" use="optional"/>
        <xs:attribute name="focus-index" default="-1" type="xs:int" use="optional"/>
        <xs:attribute name="binding-path" default="" type="xs:string" use="optional"/>
        <xs:anyAttribute processContents="lax"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InspectorElement" substitutionGroup="engine:VisualElement"
              type="editor:InspectorElementType"/>
</xs:schema>