UIElementsSchema/UnityEngine.Experimental.UIElements.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema
    xmlns:engine="UnityEngine.Experimental.UIElements" xmlns:xs="http://www.w3.org/2001/XMLSchema"
    elementFormDefault="qualified" targetNamespace="UnityEngine.Experimental.UIElements">
  <xs:complexType name="UXMLType">
    <xs:complexContent mixed="false">
      <xs:restriction base="xs:anyType">
        <xs:sequence maxOccurs="unbounded" minOccurs="0">
          <xs:element ref="engine:VisualElement"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UXML" type="engine:UXMLType"/>
  <xs:simpleType name="VisualElement_picking-mode_Type">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Position"/>
      <xs:enumeration value="Ignore"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="VisualElementType">
    <xs:complexContent mixed="false">
      <xs:restriction base="xs:anyType">
        <xs:sequence maxOccurs="unbounded" minOccurs="0">
          <xs:element ref="engine:VisualElement"/>
        </xs:sequence>
        <xs:attribute name="name" default="" type="xs:string" use="optional"/>
        <xs:attribute name="picking-mode" default="Position" type="engine:VisualElement_picking-mode_Type"
                      use="optional"/>
        <xs:attribute name="tooltip" default="" type="xs:string" use="optional"/>
        <xs:attribute name="focus-index" default="-1" type="xs:int" use="optional"/>
        <xs:anyAttribute processContents="lax"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="VisualElement" type="engine:VisualElementType"/>
  <xs:complexType name="IMGUIContainerType">
    <xs:complexContent mixed="false">
      <xs:restriction base="engine:VisualElementType">
        <xs:attribute name="name" default="" type="xs:string" use="optional"/>
        <xs:attribute name="picking-mode" default="Position" type="engine:VisualElement_picking-mode_Type"
                      use="optional"/>
        <xs:attribute name="tooltip" default="" type="xs:string" use="optional"/>
        <xs:attribute name="focus-index" default="0" type="xs:int" use="optional"/>
        <xs:anyAttribute processContents="lax"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="IMGUIContainer" substitutionGroup="engine:VisualElement"
              type="engine:IMGUIContainerType"/>
  <xs:complexType name="ImageType">
    <xs:complexContent mixed="false">
      <xs:restriction base="engine:VisualElementType">
        <xs:attribute name="name" default="" type="xs:string" use="optional"/>
        <xs:attribute name="picking-mode" default="Position" type="engine:VisualElement_picking-mode_Type"
                      use="optional"/>
        <xs:attribute name="tooltip" default="" type="xs:string" use="optional"/>
        <xs:attribute name="focus-index" default="-1" type="xs:int" use="optional"/>
        <xs:anyAttribute processContents="lax"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Image" substitutionGroup="engine:VisualElement" type="engine:ImageType"/>
  <xs:complexType name="LabelType">
    <xs:complexContent mixed="false">
      <xs:restriction base="engine:VisualElementType">
        <xs:attribute name="name" default="" type="xs:string" use="optional"/>
        <xs:attribute name="picking-mode" default="Position" type="engine:VisualElement_picking-mode_Type"
                      use="optional"/>
        <xs:attribute name="tooltip" default="" type="xs:string" use="optional"/>
        <xs:attribute name="focus-index" default="-1" type="xs:int" use="optional"/>
        <xs:attribute name="text" default="" type="xs:string" use="optional"/>
        <xs:anyAttribute processContents="lax"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Label" substitutionGroup="engine:VisualElement" type="engine:LabelType"/>
  <xs:complexType name="RepeatButtonType">
    <xs:complexContent mixed="false">
      <xs:restriction base="engine:VisualElementType">
        <xs:attribute name="name" default="" type="xs:string" use="optional"/>
        <xs:attribute name="picking-mode" default="Position" type="engine:VisualElement_picking-mode_Type"
                      use="optional"/>
        <xs:attribute name="tooltip" default="" type="xs:string" use="optional"/>
        <xs:attribute name="focus-index" default="-1" type="xs:int" use="optional"/>
        <xs:attribute name="text" default="" type="xs:string" use="optional"/>
        <xs:attribute name="delay" default="0" type="xs:long" use="optional"/>
        <xs:attribute name="interval" default="0" type="xs:long" use="optional"/>
        <xs:anyAttribute processContents="lax"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RepeatButton" substitutionGroup="engine:VisualElement" type="engine:RepeatButtonType"/>
  <xs:complexType name="ScrollerButtonType">
    <xs:complexContent mixed="false">
      <xs:restriction base="engine:VisualElementType">
        <xs:attribute name="name" default="" type="xs:string" use="optional"/>
        <xs:attribute name="picking-mode" default="Position" type="engine:VisualElement_picking-mode_Type"
                      use="optional"/>
        <xs:attribute name="tooltip" default="" type="xs:string" use="optional"/>
        <xs:attribute name="focus-index" default="-1" type="xs:int" use="optional"/>
        <xs:attribute name="delay" default="0" type="xs:long" use="optional"/>
        <xs:attribute name="interval" default="0" type="xs:long" use="optional"/>
        <xs:anyAttribute processContents="lax"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ScrollerButton" substitutionGroup="engine:VisualElement"
              type="engine:ScrollerButtonType"/>
  <xs:complexType name="ScrollViewType">
    <xs:complexContent mixed="false">
      <xs:restriction base="engine:VisualElementType">
        <xs:sequence maxOccurs="unbounded" minOccurs="0">
          <xs:element ref="engine:VisualElement"/>
        </xs:sequence>
        <xs:attribute name="name" default="" type="xs:string" use="optional"/>
        <xs:attribute name="picking-mode" default="Position" type="engine:VisualElement_picking-mode_Type"
                      use="optional"/>
        <xs:attribute name="tooltip" default="" type="xs:string" use="optional"/>
        <xs:attribute name="focus-index" default="-1" type="xs:int" use="optional"/>
        <xs:attribute name="show-horizontal-scroller" default="false" type="xs:boolean" use="optional"/>
        <xs:attribute name="show-vertical-scroller" default="false" type="xs:boolean" use="optional"/>
        <xs:attribute name="horizontal-page-size" default="20" type="xs:float" use="optional"/>
        <xs:attribute name="vertical-page-size" default="20" type="xs:float" use="optional"/>
        <xs:attribute name="stretch-content-width" default="false" type="xs:boolean" use="optional"/>
        <xs:anyAttribute processContents="lax"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ScrollView" substitutionGroup="engine:VisualElement" type="engine:ScrollViewType"/>
  <xs:simpleType name="Scroller_direction_Type">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Horizontal"/>
      <xs:enumeration value="Vertical"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ScrollerType">
    <xs:complexContent mixed="false">
      <xs:restriction base="engine:VisualElementType">
        <xs:attribute name="name" default="" type="xs:string" use="optional"/>
        <xs:attribute name="picking-mode" default="Position" type="engine:VisualElement_picking-mode_Type"
                      use="optional"/>
        <xs:attribute name="tooltip" default="" type="xs:string" use="optional"/>
        <xs:attribute name="focus-index" default="-1" type="xs:int" use="optional"/>
        <xs:attribute name="low-value" default="0" type="xs:float" use="optional"/>
        <xs:attribute name="high-value" default="0" type="xs:float" use="optional"/>
        <xs:attribute name="direction" default="Vertical" type="engine:Scroller_direction_Type"
                      use="optional"/>
        <xs:attribute name="value" default="0" type="xs:float" use="optional"/>
        <xs:anyAttribute processContents="lax"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Scroller" substitutionGroup="engine:VisualElement" type="engine:ScrollerType"/>
  <xs:simpleType name="Slider_direction_Type">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Horizontal"/>
      <xs:enumeration value="Vertical"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="SliderType">
    <xs:complexContent mixed="false">
      <xs:restriction base="engine:VisualElementType">
        <xs:attribute name="name" default="" type="xs:string" use="optional"/>
        <xs:attribute name="picking-mode" default="Position" type="engine:VisualElement_picking-mode_Type"
                      use="optional"/>
        <xs:attribute name="tooltip" default="" type="xs:string" use="optional"/>
        <xs:attribute name="focus-index" default="0" type="xs:int" use="optional"/>
        <xs:attribute name="binding-path" default="" type="xs:string" use="optional"/>
        <xs:attribute name="low-value" default="0" type="xs:float" use="optional"/>
        <xs:attribute name="high-value" default="10" type="xs:float" use="optional"/>
        <xs:attribute name="page-size" default="0" type="xs:float" use="optional"/>
        <xs:attribute name="direction" default="Vertical" type="engine:Slider_direction_Type" use="optional"/>
        <xs:attribute name="value" default="0" type="xs:float" use="optional"/>
        <xs:anyAttribute processContents="lax"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Slider" substitutionGroup="engine:VisualElement" type="engine:SliderType"/>
  <xs:simpleType name="SliderInt_direction_Type">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Horizontal"/>
      <xs:enumeration value="Vertical"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="SliderIntType">
    <xs:complexContent mixed="false">
      <xs:restriction base="engine:VisualElementType">
        <xs:attribute name="name" default="" type="xs:string" use="optional"/>
        <xs:attribute name="picking-mode" default="Position" type="engine:VisualElement_picking-mode_Type"
                      use="optional"/>
        <xs:attribute name="tooltip" default="" type="xs:string" use="optional"/>
        <xs:attribute name="focus-index" default="0" type="xs:int" use="optional"/>
        <xs:attribute name="binding-path" default="" type="xs:string" use="optional"/>
        <xs:attribute name="low-value" default="0" type="xs:int" use="optional"/>
        <xs:attribute name="high-value" default="10" type="xs:int" use="optional"/>
        <xs:attribute name="page-size" default="0" type="xs:int" use="optional"/>
        <xs:attribute name="direction" default="Vertical" type="engine:SliderInt_direction_Type"
                      use="optional"/>
        <xs:attribute name="value" default="0" type="xs:int" use="optional"/>
        <xs:anyAttribute processContents="lax"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SliderInt" substitutionGroup="engine:VisualElement" type="engine:SliderIntType"/>
  <xs:complexType name="MinMaxSliderType">
    <xs:complexContent mixed="false">
      <xs:restriction base="engine:VisualElementType">
        <xs:attribute name="name" default="" type="xs:string" use="optional"/>
        <xs:attribute name="picking-mode" default="Position" type="engine:VisualElement_picking-mode_Type"
                      use="optional"/>
        <xs:attribute name="tooltip" default="" type="xs:string" use="optional"/>
        <xs:attribute name="focus-index" default="0" type="xs:int" use="optional"/>
        <xs:attribute name="binding-path" default="" type="xs:string" use="optional"/>
        <xs:attribute name="min-value" default="0" type="xs:float" use="optional"/>
        <xs:attribute name="max-value" default="10" type="xs:float" use="optional"/>
        <xs:attribute name="low-limit" default="-3.402823E+38" type="xs:float" use="optional"/>
        <xs:attribute name="high-limit" default="3.402823E+38" type="xs:float" use="optional"/>
        <xs:anyAttribute processContents="lax"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MinMaxSlider" substitutionGroup="engine:VisualElement" type="engine:MinMaxSliderType"/>
  <xs:complexType name="TextFieldType">
    <xs:complexContent mixed="false">
      <xs:restriction base="engine:VisualElementType">
        <xs:attribute name="name" default="" type="xs:string" use="optional"/>
        <xs:attribute name="picking-mode" default="Position" type="engine:VisualElement_picking-mode_Type"
                      use="optional"/>
        <xs:attribute name="tooltip" default="" type="xs:string" use="optional"/>
        <xs:attribute name="focus-index" default="0" type="xs:int" use="optional"/>
        <xs:attribute name="binding-path" default="" type="xs:string" use="optional"/>
        <xs:attribute name="max-length" default="-1" type="xs:int" use="optional"/>
        <xs:attribute name="password" default="false" type="xs:boolean" use="optional"/>
        <xs:attribute name="mask-character" default="*" type="xs:string" use="optional"/>
        <xs:attribute name="text" default="" type="xs:string" use="optional"/>
        <xs:attribute name="multiline" default="false" type="xs:boolean" use="optional"/>
        <xs:anyAttribute processContents="lax"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TextField" substitutionGroup="engine:VisualElement" type="engine:TextFieldType"/>
  <xs:complexType name="ToggleType">
    <xs:complexContent mixed="false">
      <xs:restriction base="engine:VisualElementType">
        <xs:attribute name="name" default="" type="xs:string" use="optional"/>
        <xs:attribute name="picking-mode" default="Position" type="engine:VisualElement_picking-mode_Type"
                      use="optional"/>
        <xs:attribute name="tooltip" default="" type="xs:string" use="optional"/>
        <xs:attribute name="focus-index" default="0" type="xs:int" use="optional"/>
        <xs:attribute name="binding-path" default="" type="xs:string" use="optional"/>
        <xs:attribute name="label" default="" type="xs:string" use="optional"/>
        <xs:attribute name="value" default="false" type="xs:boolean" use="optional"/>
        <xs:anyAttribute processContents="lax"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Toggle" substitutionGroup="engine:VisualElement" type="engine:ToggleType"/>
  <xs:complexType name="VisualContainerType">
    <xs:complexContent mixed="false">
      <xs:restriction base="engine:VisualElementType">
        <xs:sequence maxOccurs="unbounded" minOccurs="0">
          <xs:element ref="engine:VisualElement"/>
        </xs:sequence>
        <xs:attribute name="name" default="" type="xs:string" use="optional"/>
        <xs:attribute name="picking-mode" default="Position" type="engine:VisualElement_picking-mode_Type"
                      use="optional"/>
        <xs:attribute name="tooltip" default="" type="xs:string" use="optional"/>
        <xs:attribute name="focus-index" default="-1" type="xs:int" use="optional"/>
        <xs:anyAttribute processContents="lax"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="VisualContainer" substitutionGroup="engine:VisualElement"
              type="engine:VisualContainerType"/>
  <xs:complexType name="TemplateContainerType">
    <xs:complexContent mixed="false">
      <xs:restriction base="engine:VisualElementType">
        <xs:attribute name="name" default="" type="xs:string" use="optional"/>
        <xs:attribute name="picking-mode" default="Position" type="engine:VisualElement_picking-mode_Type"
                      use="optional"/>
        <xs:attribute name="tooltip" default="" type="xs:string" use="optional"/>
        <xs:attribute name="focus-index" default="-1" type="xs:int" use="optional"/>
        <xs:attribute name="template" type="xs:string" use="required"/>
        <xs:anyAttribute processContents="lax"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TemplateContainer" substitutionGroup="engine:VisualElement"
              type="engine:TemplateContainerType"/>
  <xs:complexType name="BoxType">
    <xs:complexContent mixed="false">
      <xs:restriction base="engine:VisualElementType">
        <xs:sequence maxOccurs="unbounded" minOccurs="0">
          <xs:element ref="engine:VisualElement"/>
        </xs:sequence>
        <xs:attribute name="name" default="" type="xs:string" use="optional"/>
        <xs:attribute name="picking-mode" default="Position" type="engine:VisualElement_picking-mode_Type"
                      use="optional"/>
        <xs:attribute name="tooltip" default="" type="xs:string" use="optional"/>
        <xs:attribute name="focus-index" default="-1" type="xs:int" use="optional"/>
        <xs:anyAttribute processContents="lax"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Box" substitutionGroup="engine:VisualElement" type="engine:BoxType"/>
  <xs:complexType name="PopupWindowType">
    <xs:complexContent mixed="false">
      <xs:restriction base="engine:VisualElementType">
        <xs:sequence maxOccurs="unbounded" minOccurs="0">
          <xs:element ref="engine:VisualElement"/>
        </xs:sequence>
        <xs:attribute name="name" default="" type="xs:string" use="optional"/>
        <xs:attribute name="picking-mode" default="Position" type="engine:VisualElement_picking-mode_Type"
                      use="optional"/>
        <xs:attribute name="tooltip" default="" type="xs:string" use="optional"/>
        <xs:attribute name="focus-index" default="-1" type="xs:int" use="optional"/>
        <xs:attribute name="text" default="" type="xs:string" use="optional"/>
        <xs:anyAttribute processContents="lax"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PopupWindow" substitutionGroup="engine:VisualElement" type="engine:PopupWindowType"/>
  <xs:complexType name="ListViewType">
    <xs:complexContent mixed="false">
      <xs:restriction base="engine:VisualElementType">
        <xs:attribute name="name" default="" type="xs:string" use="optional"/>
        <xs:attribute name="picking-mode" default="Position" type="engine:VisualElement_picking-mode_Type"
                      use="optional"/>
        <xs:attribute name="tooltip" default="" type="xs:string" use="optional"/>
        <xs:attribute name="focus-index" default="-1" type="xs:int" use="optional"/>
        <xs:attribute name="item-height" default="30" type="xs:int" use="optional"/>
        <xs:anyAttribute processContents="lax"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListView" substitutionGroup="engine:VisualElement" type="engine:ListViewType"/>
  <xs:complexType name="FoldoutType">
    <xs:complexContent mixed="false">
      <xs:restriction base="engine:VisualElementType">
        <xs:sequence maxOccurs="unbounded" minOccurs="0">
          <xs:element ref="engine:VisualElement"/>
        </xs:sequence>
        <xs:attribute name="name" default="" type="xs:string" use="optional"/>
        <xs:attribute name="picking-mode" default="Position" type="engine:VisualElement_picking-mode_Type"
                      use="optional"/>
        <xs:attribute name="tooltip" default="" type="xs:string" use="optional"/>
        <xs:attribute name="focus-index" default="-1" type="xs:int" use="optional"/>
        <xs:attribute name="binding-path" default="" type="xs:string" use="optional"/>
        <xs:anyAttribute processContents="lax"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Foldout" substitutionGroup="engine:VisualElement" type="engine:FoldoutType"/>
  <xs:complexType name="BindableElementType">
    <xs:complexContent mixed="false">
      <xs:restriction base="engine:VisualElementType">
        <xs:sequence maxOccurs="unbounded" minOccurs="0">
          <xs:element ref="engine:VisualElement"/>
        </xs:sequence>
        <xs:attribute name="name" default="" type="xs:string" use="optional"/>
        <xs:attribute name="picking-mode" default="Position" type="engine:VisualElement_picking-mode_Type"
                      use="optional"/>
        <xs:attribute name="tooltip" default="" type="xs:string" use="optional"/>
        <xs:attribute name="focus-index" default="-1" type="xs:int" use="optional"/>
        <xs:attribute name="binding-path" default="" type="xs:string" use="optional"/>
        <xs:anyAttribute processContents="lax"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BindableElement" substitutionGroup="engine:VisualElement"
              type="engine:BindableElementType"/>
  <xs:complexType name="TextElementType">
    <xs:complexContent mixed="false">
      <xs:restriction base="engine:VisualElementType">
        <xs:attribute name="name" default="" type="xs:string" use="optional"/>
        <xs:attribute name="picking-mode" default="Position" type="engine:VisualElement_picking-mode_Type"
                      use="optional"/>
        <xs:attribute name="tooltip" default="" type="xs:string" use="optional"/>
        <xs:attribute name="focus-index" default="-1" type="xs:int" use="optional"/>
        <xs:attribute name="text" default="" type="xs:string" use="optional"/>
        <xs:anyAttribute processContents="lax"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TextElement" substitutionGroup="engine:VisualElement" type="engine:TextElementType"/>
  <xs:complexType name="ButtonType">
    <xs:complexContent mixed="false">
      <xs:restriction base="engine:VisualElementType">
        <xs:attribute name="name" default="" type="xs:string" use="optional"/>
        <xs:attribute name="picking-mode" default="Position" type="engine:VisualElement_picking-mode_Type"
                      use="optional"/>
        <xs:attribute name="tooltip" default="" type="xs:string" use="optional"/>
        <xs:attribute name="focus-index" default="-1" type="xs:int" use="optional"/>
        <xs:attribute name="text" default="" type="xs:string" use="optional"/>
        <xs:anyAttribute processContents="lax"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Button" substitutionGroup="engine:VisualElement" type="engine:ButtonType"/>
</xs:schema>